@{
    ViewBag.Title = "Gửi liên hệ";
}
<h2>@ViewBag.Title.</h2>

<h5>
    Xin chào,

    Tôi rất vui khi nhận được liên hệ từ bạn</br>
    </br>
    Hãy cho tôi biết thêm thông tin về câu hỏi hoặc yêu cầu của bạn để tôi có thể trả lời và hỗ trợ bạn tốt hơn</br>
    </br>

    Nếu bạn có bất kỳ câu hỏi hoặc cần hỗ trợ nào khác, đừng ngần ngại liên hệ với tôi. Tôi sẵn sàng giúp đỡ bạn</br>
    </br>

    Trân trọng.
</h5>
<address>
    <form action="contact.php" method="post">
        <label for="name">Họ và tên:</label> 
        <input type="text" id="name" name="name" required>
        </br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        </br>
        <label for="message">Nội dung:</label>
        <textarea id="message" name="message" required></textarea>
        </br>
        <button type="submit">Gửi</button>
        </br>
    </form>

</address>

